force-app/main/default/flows/Active_Contacts_Decision_Makers_Oppty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddToContactList</name>
        <label>AddToContactList</label>
        <locationX>857</locationX>
        <locationY>114</locationY>
        <assignmentItems>
            <assignToReference>NewContactList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactFromContactRole</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverRoles</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Active_Contacts_Decision_Makers_Oppty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active_Contacts_Decision_Makers_Oppty</label>
    <loops>
        <name>LoopOverRoles</name>
        <label>LoopOverRoles</label>
        <locationX>550</locationX>
        <locationY>23</locationY>
        <assignNextValueToReference>ContactRoleRecord</assignNextValueToReference>
        <collectionReference>ContactRoleRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetSingleContactFromRole</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Oppty_Contact_Roles</name>
        <label>Get Active Oppty Contact Roles</label>
        <locationX>483</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRoles</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActiveOpportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Decision Maker</stringValue>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>ContactRoleRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetActiveOppty</name>
        <label>Get Active Oppty</label>
        <locationX>324</locationX>
        <locationY>99</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Oppty_Contact_Roles</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>ActiveOpportunity</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSingleContactFromRole</name>
        <label>GetSingleContactFromRole</label>
        <locationX>664</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AddToContactList</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRoleRecord.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactFromContactRole</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>GetActiveOppty</startElementReference>
    <status>Draft</status>
    <variables>
        <name>ActiveOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>ContactFromContactRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactRoleRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>ContactRoleRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>NewContactList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
