force-app/main/default/flows/addToOppContacts-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contacts_Exists_to_True</name>
        <label>Contacts Exists to True</label>
        <locationX>336</locationX>
        <locationY>209</locationY>
        <assignmentItems>
            <assignToReference>contactExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lOppContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>142</locationX>
        <locationY>435</locationY>
        <defaultConnector>
            <targetReference>rcCaseContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it doesn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_it_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes it does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact</name>
        <label>Same Contact?</label>
        <locationX>400</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>lOppContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovOppContact.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sovContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Exists_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>addToOppContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>addToOppContacts</label>
    <loops>
        <name>lOppContacts</name>
        <label>lOppContacts</label>
        <locationX>147</locationX>
        <locationY>325</locationY>
        <assignNextValueToReference>sovOppContact</assignNextValueToReference>
        <collectionReference>socvOppContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Contact_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>rcCaseContact</name>
        <label>rcCaseContact</label>
        <locationX>332</locationX>
        <locationY>434</locationY>
        <assignRecordIdToReference>createdOppContactId</assignRecordIdToReference>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sovContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>flContact</name>
        <label>flContact</label>
        <locationX>151</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flOppContacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedRecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>flOppContacts</name>
        <label>flOppContacts</label>
        <locationX>151</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lOppContacts</targetReference>
        </connector>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityContactRole</object>
        <outputReference>socvOppContacts</outputReference>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <startElementReference>flContact</startElementReference>
    <variables>
        <name>contactExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>createdOppContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socvOppContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>sovContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sovOppContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
