force-app/main/default/flows/addToCaseContacts-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Contacts_Exists_to_True</name>
        <label>Contacts Exists to True</label>
        <locationX>334</locationX>
        <locationY>208</locationY>
        <assignmentItems>
            <assignToReference>contactExists</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lCaseContacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>138</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>rcCaseContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No it doesn&apos;t</defaultConnectorLabel>
        <rules>
            <name>Yes_it_does</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactExists</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes it does</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Contact</name>
        <label>Same Contact?</label>
        <locationX>400</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>lCaseContacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sovCaseContact.ContactId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sovContact.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Exists_to_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>addToCaseContacts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>addToCaseContacts</label>
    <loops>
        <name>lCaseContacts</name>
        <label>lCaseContacts</label>
        <locationX>143</locationX>
        <locationY>322</locationY>
        <assignNextValueToReference>sovCaseContact</assignNextValueToReference>
        <collectionReference>socvCaseContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Same_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Does_Contact_Exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>rcCaseContact</name>
        <label>rcCaseContact</label>
        <locationX>330</locationX>
        <locationY>434</locationY>
        <assignRecordIdToReference>createdCaseContactId</assignRecordIdToReference>
        <inputAssignments>
            <field>CasesId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>sovContact.Id</elementReference>
            </value>
        </inputAssignments>
        <object>CaseContactRole</object>
    </recordCreates>
    <recordLookups>
        <name>flCaseContacts</name>
        <label>flCaseContacts</label>
        <locationX>148</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lCaseContacts</targetReference>
        </connector>
        <filters>
            <field>CasesId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>CaseContactRole</object>
        <outputReference>socvCaseContacts</outputReference>
        <queriedFields>ContactId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>flContact</name>
        <label>flContact</label>
        <locationX>151</locationX>
        <locationY>102</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flCaseContacts</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedRecordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>sovContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>flContact</startElementReference>
    <status>Active</status>
    <variables>
        <name>contactExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>createdCaseContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>socvCaseContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContactRole</objectType>
    </variables>
    <variables>
        <name>sovCaseContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseContactRole</objectType>
    </variables>
    <variables>
        <name>sovContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
